:root[data-theme-mode='light'][data-color-scheme='standard'] {
    --background: #fafafa;
    --backgrund-hover: #eff6ff;

    --surface-muted: #f7f7f7;
    --surface: #ffffff;

    --border: #e5e7eb;

    --text: #374151;
    --text-muted: #4b5563;
    --text-subtle: #6b7280;

    --primary: #2c6cf7;
    --primary-hover: #1d4ed8;

    --danger: #ef4444;
    --danger-hover: #dc2626;

    --secondary: #f3f4f6;
    --secondary-hover: #e5e7eb;
    --secondary-text: #4b5563;

    --color-accent1-bg: #dcfce7;
    --color-accent1-text: #166534;
    --color-accent1-solid: #10b981;
    --color-accent1-hover: #34d399;

    --color-accent2-bg: #dbeafe;
    --color-accent2-text: #1e40af;
    --color-accent2-solid: #3b82f6;
    --color-accent2-hover: #60a5fa;

    --color-accent3-bg: #ede9fe;
    --color-accent3-text: #6b21a8;
    --color-accent3-solid: #8b5cf6;
    --color-accent3-hover: #a78bfa;

    --color-accent4-bg: #ffedd5;
    --color-accent4-text: #9a3412;
    --color-accent4-solid: #f97316;
    --color-accent4-hover: #fb923c;

    --color-accent5-bg: #fef9c3;
    --color-accent5-text: #854d0e;
    --color-accent5-solid: #eab308;
    --color-accent5-hover: #facc15;

    --color-accent6-bg: #fee2e2;
    --color-accent6-text: #991b1b;
    --color-accent6-solid: #ef4444;
    --color-accent6-hover: #f87171;

    --color-accent7-bg: #fce7f3;
    --color-accent7-text: #9d174d;
    --color-accent7-solid: #ec4899;
    --color-accent7-hover: #f472b6;

    --color-accent8-bg: #ccfbf1;
    --color-accent8-text: #115e59;
    --color-accent8-solid: #14b8a6;
    --color-accent8-hover: #2dd4bf;

    --color-accent9-bg: #f3f4f6;
    --color-accent9-text: #1f2937;
    --color-accent9-solid: #6b7280;
    --color-accent9-hover: #9ca3af;

    --color-accent10-bg: #ecfccb;
    --color-accent10-text: #3f6212;
    --color-accent10-solid: #84cc16;
    --color-accent10-hover: #a3e635;

    --scrollbar-track: rgba(241, 241, 241, 0.2);
    --scrollbar-thumb: rgba(156, 163, 175, 0.5);
    --scrollbar-thumb-hover: rgba(107, 114, 128, 0.7);

    --sidebar-icon-active: #ffffff;
    --sidebar-icon-inactive: #4b5563;
}

:root[data-theme-mode='dark'][data-color-scheme='standard'] {
    --background: #111827;
    --backgrund-hover: #1f2937;

    --surface-muted: #1f2937;
    --surface: #1f2937;

    --border: #374151;

    --text: #d1d5db;
    --text-accent: #60a5fa;
    --text-muted: #e5e7eb;
    --text-subtle: #d1d5db;

    --primary: #3b82f6;
    --primary-hover: #2563eb;

    --danger: #ef4444;
    --danger-hover: #bd2c2c;

    --secondary: #374151;
    --secondary-hover: #4b5563;
    --secondary-text: #d1d5db;

    --color-accent1-bg: #14532d;
    --color-accent1-text: #dcfce7;
    --color-accent1-solid: #10b981;
    --color-accent1-hover: #059669;

    --color-accent2-bg: #1e3a8a;
    --color-accent2-text: #dbeafe;
    --color-accent2-solid: #3b82f6;
    --color-accent2-hover: #2563eb;

    --color-accent3-bg: #581c87;
    --color-accent3-text: #f3e8ff;
    --color-accent3-solid: #8b5cf6;
    --color-accent3-hover: #7c3aed;

    --color-accent4-bg: #7c2d12;
    --color-accent4-text: #ffedd5;
    --color-accent4-solid: #f97316;
    --color-accent4-hover: #ea580c;

    --color-accent5-bg: #713f12;
    --color-accent5-text: #fef9c3;
    --color-accent5-solid: #eab308;
    --color-accent5-hover: #ca8a04;

    --color-accent6-bg: #7f1d1d;
    --color-accent6-text: #fee2e2;
    --color-accent6-solid: #ef4444;
    --color-accent6-hover: #dc2626;

    --color-accent7-bg: #831843;
    --color-accent7-text: #fce7f3;
    --color-accent7-solid: #ec4899;
    --color-accent7-hover: #db2777;

    --color-accent8-bg: #134e4a;
    --color-accent8-text: #ccfbf1;
    --color-accent8-solid: #14b8a6;
    --color-accent8-hover: #0d9488;

    --color-accent9-bg: #111827;
    --color-accent9-text: #f3f4f6;
    --color-accent9-solid: #6b7280;
    --color-accent9-hover: #4b5563;

    --color-accent10-bg: #365314;
    --color-accent10-text: #ecfccb;
    --color-accent10-solid: #84cc16;
    --color-accent10-hover: #65a30d;

    --scrollbar-track: rgba(55, 65, 81, 0.5);
    --scrollbar-thumb: rgba(156, 163, 175, 0.7);
    --scrollbar-thumb-hover: rgba(107, 114, 128, 0.9);

    --sidebar-icon-active: #ffffff;
    --sidebar-icon-inactive: #d1d5db;
}
