:root[data-theme-mode='light'][data-color-scheme='standard'] {
    --background: #fafafa;
    --backgrund-hover: #eff6ff;

    --surface-muted: #f7f7f7;
    --surface: #ffffff;

    --border: #e5e7eb;

    --text: #374151;
    --text-muted: #4b5563;
    --text-subtle: #6b7280;

    --primary: #2c6cf7;
    --primary-hover: #1d4ed8;

    --danger: #ef4444;
    --danger-hover: #dc2626;

    --secondary: #f3f4f6;
    --secondary-hover: #e5e7eb;
    --secondary-text: #4b5563;

    --scrollbar-track: rgba(241, 241, 241, 0.2);
    --scrollbar-thumb: rgba(156, 163, 175, 0.5);
    --scrollbar-thumb-hover: rgba(107, 114, 128, 0.7);

    --sidebar-icon-active: #ffffff;
    --sidebar-icon-inactive: #4b5563;
}

:root[data-theme-mode='dark'][data-color-scheme='standard'] {
    --background: #111827;
    --backgrund-hover: #1f2937;

    --surface-muted: #1f2937;
    --surface: #1f2937;

    --border: #374151;

    --text: #d1d5db;
    --text-accent: #60a5fa;
    --text-muted: #e5e7eb;
    --text-subtle: #d1d5db;

    --primary: #3b82f6;
    --primary-hover: #2563eb;

    --danger: #ef4444;
    --danger-hover: #bd2c2c;

    --secondary: #374151;
    --secondary-hover: #4b5563;
    --secondary-text: #d1d5db;

    --scrollbar-track: rgba(55, 65, 81, 0.5);
    --scrollbar-thumb: rgba(156, 163, 175, 0.7);
    --scrollbar-thumb-hover: rgba(107, 114, 128, 0.9);

    --sidebar-icon-active: #ffffff;
    --sidebar-icon-inactive: #d1d5db;
}
