.custom-scroll-y::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

.custom-scroll-y::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 4px;
}

.custom-scroll-y::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

.custom-scroll-y::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
