:root[data-theme-mode='light'][data-color-scheme='standard'] {
  --primary-color: #2c6cf7;

  --background: #ffffff;
  --border: #e5e7eb;
  --text: #1d4ed8;
  --text-table-values: #4b5563;
  --text-table-real-values: #6b7280;
  --link-inactive-text: #4b5563;
  --link-inactive-hover-bg: #eff6ff;
  --icon-active: #ffffff;
  --icon-inactive: #4b5563;
  --toggle-icon: #3b82f6;
  --hover-bg: #dbeafe;
  --sidebar-toggle-hover-bg: #eff6ff;
  --table-header: #f9fafb;
  --table-header-text: #374151;
  --table-body-bg: #ffffff;
  --table-summary-text: #374151;
  --settings-section-selector-bg: #eff6ff;
  --bubble-btn-standard: #2563eb;
  --bubble-btn-standard-hover: #1d4ed8;
  --bubble-btn-delete: #ef4444;
  --bubble-btn-delete-hover: #dc2626;
  --bubble-btn-clear: #f3f4f6;
  --bubble-btn-clear-hover: #e5e7eb;
  --bubble-btn-clear-text: #4b5563;
  --scrollbar-track: rgba(241, 241, 241, 0.2);
  --scrollbar-thumb: rgba(156, 163, 175, 0.5);
  --scrollbar-thumb-hover: rgba(107, 114, 128, 0.7);
}

:root[data-theme-mode='dark'][data-color-scheme='standard'] {
  --primary-color: #3b82f6;
  --background: #111827;
  --border: #374151;
  --text: #bfdbfe;
  --text-accent: #60a5fa;
  --text-table-values: #e5e7eb;
  --text-table-real-values: #d1d5db;
  --link-inactive-text: #d1d5db;
  --link-inactive-hover-bg: #374151;
  --icon-active: #ffffff;
  --icon-inactive: #d1d5db;
  --toggle-icon: #60a5fa;
  --hover-bg: #1e40af;
  --sidebar-toggle-hover-bg: #374151;
  --table-header: #1f2937;
  --table-header-text: #d1d5db;
  --table-body-bg: #1f2937;
  --table-summary-text: #e5e7eb;
  --settings-section-selector-bg: #374151;
  --bubble-btn-standard: #3b82f6;
  --bubble-btn-standard-hover: #2563eb;
  --bubble-btn-delete:#ef4444;
  --bubble-btn-delete-hover: #bd2c2c;
  --bubble-btn-clear: #374151;
  --bubble-btn-clear-hover: #4b5563;
  --bubble-btn-clear-text: #d1d5db;
  --scrollbar-track: rgba(55, 65, 81, 0.5);
  --scrollbar-thumb: rgba(156, 163, 175, 0.7);
  --scrollbar-thumb-hover: rgba(107, 114, 128, 0.9);
}
